<footer class="footer  pt-3 ">
  <div class="container px-4 pt-5 pb-5  mt-4 pt-4 ">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch align-items-lg-center align-items-md-center g-4 pt-5 pt-0  sponzors-container bordert">
      
      <% sponzori.forEach(item => { %> 
        <a class="col sponzors" target=”_blank” href="<%= item.odkaz %>">
          <img class="img-fluid sponzor" src="/img/sponzor/<%= item.logo %>" alt="sponzor">
        </a>
      <% }) %>

    </div>
  </div>
  <div class="bg_secondary_color foote py-1 pt-3">
    <div class="footer-container">
      <%= kluby.jmeno %>
    </div>
    <div class="footer-media-container">
      <a href="https://www.instagram.com/vk.teplice/?hl=cs" target=”_blank” class="fa-brands fa-instagram mb-1 fa-2xl secondary_color"></a>
      <a href="https://www.facebook.com/vk.teplice/" target=”_blank” class="fa-brands fa-facebook fa-2xl secondary_color"></a>
    </div>
  </div>
</footer>