<footer class="footer py-2 pt-3 bg_secondary_color">
    <div class="footer-container">
      <a class="secondary_color" href="<%= kategorie[0].href %>">Domu</a>
      <a class="secondary_color" href="<%= kategorie[4].href %>">Nabor</a>
      <a class="secondary_color" href="<%= kategorie[5].href %>">Kontakty</a>
      <a class="secondary_color" href="#">Finance</a>
    </div>
    <div class="footer-media-container">
      <a href="https://www.instagram.com/vk.teplice/?hl=cs" target=”_blank” class="fa-brands fa-instagram fa-2xl secondary_color"></a>
      <a href="https://www.facebook.com/vk.teplice/" target=”_blank” class="fa-brands fa-facebook fa-2xl secondary_color"></a>
    </div>
  </footer>