<div class="row-cols-1 row-cols-lg-2" id="add_popup" style="display: none;">
  <div class="popup media">
    <form method="post" action="/api/add_kategorii">
      <div class="action"><!--Ulozit-->
        <a class="butt-dis butt mb-1" href="/sprava/kategorie">Zahodit změny</a>
        <input class="butt-sub butt" type="submit" value="Uložit">
      </div>
      <div class="prispevekEdit my-2">
        <div class="primary_color">
          <label for="nazev">Název:</label><br>
          <input class="cname primary_color" type="text" id="nazev" name="nazev" value="" required><br>
        </div>
        <div class="primary_color mb-3">
          <label for="popisek">Obsah:</label><br>
          <textarea class="popisek popisekobsah text-center primary_color" id="popisek" name="obsah" required></textarea><br>
        </div>
      </div>
    </form>
  </div>
</div>