<div class="row-cols-1 row-cols-lg-3" id="popupDel<%= item.id_prispevek %>" style="display: none;"> 
  <div class="popup media del">
    <form method="post" action="/api/del_prispevek">
      <div class="action"><!--Ulozit-->
        <a class="butt-sub buttDel mb-1" href="/sprava/media">Zachovat</a>
        <input class="butt-dis buttDel" type="submit" value="Smazat">
        <input type="hidden" name="id_prispevek_to_del" value="<%= item.id_prispevek %>">
      </div>
  </div>
</div>