<div class="popup">
    <form method="post" action="/api/sprava_klubu" enctype="multipart/form-data">
      <div class="action"><!--Ulozit-->
        <a class="butt-dis butt mb-1" href="/sprava">Zahodit změny</a>
        <input  class="butt-sub butt" type="submit" value="Ulozit">
      </div>
      <div class="name primary_color mb-3">
        <label for="cname">Odkaz:</label><br>
        <input class="cname primary_color" type="text" id="cname" name="cname" value="<%= kluby.jmeno %>"><br>
      </div>
      <div class="row">
        <div class="mb-2 editeble"> <!--Logo-->
          <input type="file" id="LogoSponzor" accept="image/*" onchange="previewSponzor()" name="sponzor" style="display: none;" />
          <img class="editeble" id="previewsponzor" src="/img/uk.png" onclick="document.getElementById('LogoSponzor').click();" alt="Image preview...">
          <i class="fa-solid fa-5x fa-pen" onclick="document.getElementById('LogoSponzor').click();"></i>
        </div>
      </div>
    </form>
  </div>