:root {
  --primary-color: #FEDE0D; 
  --secondary-color: #323693;
  --hover-color: #FED40D;
  --active-color: #FEC90D;
}
.butt-dis{
    background-color: red;
}
.butt-sub{
  background-color: green;
}
.butt{
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style:none;
  border-radius: 5px;
  float: right;
  margin-left: 10px;
}
.stat-box{
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  padding-bottom: 12px !important;
  padding-left: 14px !important;
  border-bottom-left-radius: 27px;
}
.name >label{
  margin-top: 5px;
  width: 100%;
}
.cname{
  padding:8px;
  display:block;
  border:none;
  border-bottom:3px solid var(--primary-color);
  
}
.cname:focus{
  outline: none;
  box-shadow: none;
  border-bottom:3px solid var(--active-color);
}
.buttplus{
  width: 100%;
  height: 100%;
  background-color: #7B7ECE;
  color: white;
  border: none;
  border-radius: 22px;
  font-size: 150%;
}
.akce-box{
  padding-left: 0;
}
.form-signin{
  max-width: 440px;
  margin:auto;
  margin-top: 10%;
}
.form-signin > form{
  padding: 25px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.facebook{
  background-color: #0866ff;
}