:root {
  --primary-color: #FEDE0D; 
  --secondary-color: #323693;
  --hover-color: #FED40D;
  --secondary-hover-color: #292b7a;
  --active-color: #FEC90D;
}
body{
  display: flex;
  flex-direction: column;
}
*{
  font-family: 'Inter', sans-serif;
}
*::-webkit-scrollbar {
  width: 5px; 
}
*::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--active-color); 
}
p, h1, h2, h3, h4, h5, h6{
  color: var(--secondary-color);
}
.bg_primary_color {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) ;
}
.primary_color{
  color: var(--secondary-color) !important;
}
.bg_secondary_color {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) ;
}
.secondary_color{
  color: var(--primary-color) !important;
}
.bg_secondary_white_color {
  background-color: var(--secondary-color) !important;
  color: white ;
}
.logo{
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  background-color: white;
  border-color: white;
  margin-top: -85px;
}
.navbar{
  height: 40px;
  margin-top: 85px;
  z-index: 5;
}
.container-fluid{
  padding: 0;
}
.navbar-collapse.collapse.show {
  background-color: var(--primary-color);
  width: 100%;

}
.nav-item > .nav-link{
  padding-left: 15px;
}
.dropdown-item{
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown-item:hover, .nav-link:hover, .btn:hover{
  background-color: var(--hover-color) !important;
}
.active{
  background-color: var(--active-color) !important;
}
.dropdown-menu{
  border-style: none;
}
.navbar-brand {
  padding: 0;
  margin-left: 2%;
}
.navbar-toggler{
  border-style: none;
}
.borderl{
  border-left: 3px;
  border-left-style: solid;
  border-left-color: var(--primary-color);
}
.bordert{
  border-top: 3px;
  border-top-style: solid;
  border-top-color: var(--primary-color);
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 ;
}
.akce-list{
  list-style-type:none;
  padding: 0;
}
.akce{
  padding-left: 10px;
  margin-bottom: 15px;
}
.akce > div > p{
  margin-bottom: 0px;
}
.akce-box{
  padding-left: 20px;
  padding-bottom: 1px;
}
.footer{ 
  flex-shrink: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
.content {
  flex: 1 0 auto; /* flex-grow, flex-shrink, flex-basis */
}
.foote{
  display: flex;
  justify-content: space-between;
}
.footer-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-container > a, .footer-container > div{
  margin-left: 7px;
  margin-right: 7px;
  text-decoration: none;
}
.footer-media-container{
  display: flex;
  flex-wrap: wrap;
  float: right;
  right: 0;
}
.footer-media-container > a{
  margin-right: 10px;
  text-decoration: none;
}
.fa-facebook {
  line-height: 1em;
  font-size:28px;
}
.fa-instagram {
  line-height: .90em;
}
body{
  position: relative;
  min-height: 100vh;
}
.sponzors-container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sponzors{
  width: fit-content;
  height: fit-content;
  margin: 10px;
  
}
.sponzor{
  max-width: 250px;
  max-height: 160px;
}
.fa-arrow-right-to-bracket::before, .fa-angle-down::before {
  margin-left: 43%;
  transform: translate(-50%);
}
.media-link{
  text-decoration: none;
}
.universal{
  margin-top: 50px;
  margin-bottom: 50px;
}
.universal > p{
  text-align: center;
}
.btn{
  border: none;
}
.form-check-input:checked{
  background-color: var(--secondary-color);
}
button.bg_secondary_white_color:hover {
  background-color: var(--secondary-hover-color) !important;
  color: #dbdbdb !important;
}
input[type=button]:hover {
  background-color: var(--secondary-hover-color) !important;
  color: #dbdbdb !important;
}
::placeholder { 
  color: #32359369;
}
input[type=button].bg_secondary_white_color{
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 290px;
}
#previewimg{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 320px;
  width: 100%;
}
#previewico{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 150px;
  width: 100%;
}
.previewsponzor{
  object-fit: contain;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  max-width: 250px;
  width: 100%;
  max-height: 160px;
}
select {
  padding: 8px;
  display: block;
  border: none;
  align-items: left;
  max-width: 100%; 
  border-bottom: 3px solid var(--primary-color);
}
select:hover{
  outline: none;
  box-shadow: none;
  border-bottom:3px solid var(--active-color);
} 
